In [ ]:
-- DWE2022 - DESAFIO
-- ALUNA_19

In [ ]:
--CRIAR O DB LOCAL
-- DROP DATABASE DW_TREINO
--CREATE DATABASE DW19
--GO

In [1]:
USE DW19
GO

In [2]:
--CRIANDO TABELA DE LOG
IF NOT EXISTS
 (SELECT * FROM sysobjects WHERE name='LOG_CARGAS' AND xtype='U')

CREATE TABLE LOG_CARGAS
 (ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
 NUMERO_ERRO INT,
 SERVERIDADE_ERRO INT,
 ESTADO_ERRO  INT,
 PROC_ERRO NVARCHAR(255),
 LINHA_ERRO INT,
 MSG_ERRO NVARCHAR(255),
 SITUACAO NVARCHAR(10),
 PROCESSO NVARCHAR(30),
 DATA_INI DATETIME,
 DATA_FIM DATETIME  
 )
 GO

In [12]:
-- CRIANDO TABELA STAGING
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='STG_VENDAS' AND xtype='U')
CREATE TABLE [dbo].[STG_VENDAS](
	[SEGMENTO] [varchar](50) NULL,
	[PAIS] [varchar](50) NULL,
	[PRODUTO] [varchar](50) NULL,
	[TIPO_DESCONTO] [varchar](50) NULL,
	[QTDE_VENDAS] [varchar](50) NULL,
	[PRECO_CUSTO] [varchar](50) NULL,
	[PRECO_VENDA] [varchar](50) NULL,
	[VENDAS_BRUTA] [varchar](50) NULL,
	[DESCONTO] [varchar](50) NULL,
	[VENDAS] [varchar](50) NULL,
	[CUSTO_VENDA] [varchar](50) NULL,
	[LUCRO] [varchar](50) NULL,
	[DATA_VENDA] [varchar](50) NULL
)
GO

In [4]:
--CRIANDO DIMENSAO  SEGMENTO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Segmento' AND xtype='U')
CREATE TABLE [dbo].[D_Segmento](
	[ID_SEGMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_SEGMENTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SEGMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- PRIMARY KEY CLUSTERED (EXEMPLO DE SCRIPT AULA07)

In [5]:
--CRIANDO DIMENSAO  PAIS
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Pais' AND xtype='U')
CREATE TABLE [dbo].[D_Pais](
	[ID_PAIS] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PAIS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [6]:
--CRIANDO DIMENSAO  PRODUTO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Produto' AND xtype='U')
CREATE TABLE [dbo].[D_Produto](
	[ID_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PRODUTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [7]:
--CRIANDO DIMENSAO  TIPO_DESCONTO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Desconto' AND xtype='U')
CREATE TABLE [dbo].[D_Desconto](
	[ID_DESCONTO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_DESCONTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DESCONTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [8]:
--CRIANDO TABELA FATO_VENDAS
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='FATO_VENDAS' AND xtype='U')
CREATE TABLE FATO_VENDAS
(
ID_SEGMENTO  [int] NULL,
ID_PAIS  [int] NULL,
ID_PRODUTO  [int] NULL,
ID_DESCONTO  [int] NULL,
QTDE_VENDAS  DECIMAL(10,2) NULL,
PRECO_CUSTO  DECIMAL(10,2) NULL,
PRECO_VENDA  DECIMAL(10,2) NULL,
VENDA_BRUTA  DECIMAL(10,2) NULL,
VLR_DESCONTO  DECIMAL(10,2) NULL,
VLR_VENDA  DECIMAL(10,2) NULL,
CUSTO_VENDA  DECIMAL(10,2) NULL,
LUCRO  DECIMAL(10,2) NULL,
DATA_VENDA  DATE
)