In [ ]:
--DESAFIO DWE2022
-- ALUNA_19: NATHÁLIA SANTIAGO
-- PARTE 1 --

In [1]:
--CREATE DATABASE DW19

In [2]:
use DW19

In [3]:
-- EXERCÍCIO 1 --
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'CIDADE'
)

CREATE TABLE CIDADE
(
  ID_CIDADE int NOT NULL PRIMARY KEY,
  NOME_CIDADE VARCHAR(60) NOT NULL,
  UF VARCHAR(2) NOT NULL
  );

In [1]:
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'CLIENTE'
)

CREATE TABLE CLIENTE
(
  ID_CLIENTE int NOT NULL PRIMARY KEY,
  NOME_CLIENTE VARCHAR(60) NOT NULL,
  ENDERECO VARCHAR(60) NOT NULL,
  NUMERO VARCHAR(10) NOT NULL,
  ID_CIDADE int NOT NULL,
  CEP VARCHAR(9) NOT NULL,
  FOREIGN KEY(ID_CIDADE) REFERENCES CIDADE(ID_CIDADE)
  );

In [3]:
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'VENDEDORES'
)

CREATE TABLE VENDEDORES
(
  ID_VENDEDOR int NOT NULL PRIMARY KEY,
  NOME_VENDED VARCHAR(60) NOT NULL,
  SALARIO DECIMAL(10,2) NOT NULL
  );

In [4]:
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'VENDAS'
)

CREATE TABLE VENDAS
(
  NUM_VEND int NOT NULL PRIMARY KEY,
  DATA_VEN DATETIME NOT NULL,
  ID_CLIENTE int NOT NULL,
  ID_VENDED int NOT NULL,
  STATUS CHAR(1) NOT NULL,
  FOREIGN KEY(ID_CLIENTE) REFERENCES CLIENTE(ID_CLIENTE),
  FOREIGN KEY(ID_VENDED) REFERENCES VENDEDORES(ID_VENDEDOR),
  );

In [5]:
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'CATEGORIA'
)
CREATE TABLE CATEGORIA
(
  ID_CATEGORIA int NOT NULL PRIMARY KEY,
  NOME_CATEGOR VARCHAR(20) NOT NULL
  );

In [6]:
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'UNIDADE'
)
CREATE TABLE UNIDADE
(
  ID_UNIDADE VARCHAR(3) NOT NULL PRIMARY KEY,
  DESC_UNIDADE VARCHAR(25) NOT NULL
  );

In [7]:
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'PRODUTOS'
)

CREATE TABLE PRODUTOS
(
  ID_PROD int NOT NULL PRIMARY KEY,
  NOME_PROD VARCHAR(50) NOT NULL,
  ID_CATEGORI int NOT NULL,
  ID_UNIDADE VARCHAR(3) NOT NULL,
  PRECO DECIMAL(10,2) NOT NULL,
  FOREIGN KEY(ID_CATEGORI) REFERENCES CATEGORIA(ID_CATEGORIA),
  FOREIGN KEY(ID_UNIDADE) REFERENCES UNIDADE(ID_UNIDADE)
  );

In [11]:
IF NOT EXISTS (
    SELECT name
    FROM sys.tables
    WHERE name = N'VENDA_ITENS'
)

CREATE TABLE VENDA_ITENS
(
  NUM_VE int NOT NULL,
  NUM_SE int NOT NULL,
  ID_PROD int NOT NULL,
  QTDE DECIMAL(10,2) NOT NULL,
  VAL_UNI DECIMAL(10,2) NOT NULL,
  VAL_TOT DECIMAL(10,2) NOT NULL,
  FOREIGN KEY(NUM_VE) REFERENCES VENDAS(NUM_VEND),
  FOREIGN KEY(ID_PROD) REFERENCES PRODUTOS(ID_PROD),

  CONSTRAINT PK_VENDA_ITENS PRIMARY KEY (NUM_VE, NUM_SE) --PRIMARY KEY COMPOSTA
  );

In [14]:
--EXERCÍCIO 2

--CREATE DATABASE DW19_TREINO
--use DW19_TREINO

: Msg 1801, Level 16, State 3, Line 1
Database 'DW19_TREINO' already exists. Choose a different database name.

In [20]:
-- EXERCÍCIO 3
SELECT  CLI.NOME_CLIENTE AS CLIENTE, 
        CID.NOME_CIDADE AS CIDADE, 
        CID.UF AS ESTADO

FROM    DBO.CLIENTE CLI
INNER   JOIN DBO.CIDADE CID
ON      CLI.ID_CIDADE = CID.ID_CIDADE

ORDER   BY CLI.NOME_CLIENTE ASC;

CLIENTE,CIDADE,ESTADO
Giga 10,Campinas,SP
Hiper Giga,São Paulo,SP
Hiper Sempre,São Paulo,SP
Lojas Mega,Jundiai,SP
Lojas Plus,Volta Redonda,RJ
Lojas Vitoria,Volta Redonda,RJ
Rede Atacado,Rio de Janeiro,RJ
Rede mais,Niterói,RJ
Rede MercoSul,Niterói,RJ
Super Tera,Rio de Janeiro,RJ

In [32]:
-- EXERCÍCIO 4
SELECT  PROD.ID_PROD AS COD_PRODUTO,
        PROD.NOME_PRODUTO AS PRODUTO,
        CAT.NOME_CATEGORIA AS CATEGORIA,
        PROD.PRECO AS PRECO_UNITARIO -- ACRESCENTADA COLUNA PARA DEMONSTRAR CONDIÇÃO SOLICITADA: 10 - 1500

FROM    DBO.PRODUTOS PROD
INNER   JOIN DBO.CATEGORIA CAT
ON      PROD.ID_CATEGORIA = CAT.ID_CATEGORIA

WHERE   PROD.PRECO BETWEEN 1 AND 1500

ORDER   BY CAT.NOME_CATEGORIA, PROD.NOME_PRODUTO -- ESCOLHA DE AGRUPAMENTO/ORDENAÇÃO

COD_PRODUTO,PRODUTO,CATEGORIA,PRECO_UNITARIO
12,Batedeira,Eletrodomesticos,140.00
14,Geladeira,Eletrodomesticos,1500.00
13,Liquidificador,Eletrodomesticos,90.00
11,Mixer,Eletrodomesticos,120.00
1,HD 500 1 TB,Informática,350.00
4,HD SSD 250 GB,Informática,600.00
3,Monitor 15,Informática,700.00
2,Monitor 17,Informática,900.00
5,Teclado,Informática,50.00
9,TV Plasma 32,TV´s,1200.00
15,Aspirador de pó,Utilidades do Lar,150.00
10,Fogao,Utilidades do Lar,900.00

In [34]:
--EXERCÍCIO 5
SELECT  PROD.ID_PROD AS COD_PRODUTO,
        PROD.NOME_PRODUTO AS PRODUTO,
        CAT.NOME_CATEGORIA AS CATEGORIA_PRODUTO,
        (
        CASE
            WHEN PROD.PRECO < 500 THEN 'PREÇO ABAIXO DE R$500'
            WHEN (PROD.PRECO >= 500 AND PROD.PRECO <= 1000)  THEN 'PREÇO ENTRE R$500 E R$1000'
            ELSE 'PREÇO ACIMA DE R$1000'
        END
        ) AS FAIXA_PRECO

FROM    DBO.PRODUTOS PROD 
INNER   JOIN DBO.CATEGORIA CAT
ON      PROD.ID_CATEGORIA = CAT.ID_CATEGORIA;

COD_PRODUTO,PRODUTO,CATEGORIA_PRODUTO,PRECO,FAIXA_PRECO
1,HD 500 1 TB,Informática,350.00,PREÇO ABAIXO DE R$500
2,Monitor 17,Informática,900.00,PREÇO ENTR R$500 E R$1000
3,Monitor 15,Informática,700.00,PREÇO ENTR R$500 E R$1000
4,HD SSD 250 GB,Informática,600.00,PREÇO ENTR R$500 E R$1000
5,Teclado,Informática,50.00,PREÇO ABAIXO DE R$500
6,TV LED 40,TV´s,2300.00,PREÇO ACIMA DE R$1000
7,TV LCD 40,TV´s,2500.00,PREÇO ACIMA DE R$1000
8,SMART TV 4K 50,TV´s,3700.00,PREÇO ACIMA DE R$1000
9,TV Plasma 32,TV´s,1200.00,PREÇO ACIMA DE R$1000
10,Fogao,Utilidades do Lar,900.00,PREÇO ENTR R$500 E R$1000
11,Mixer,Eletrodomesticos,120.00,PREÇO ABAIXO DE R$500
12,Batedeira,Eletrodomesticos,140.00,PREÇO ABAIXO DE R$500
13,Liquidificador,Eletrodomesticos,90.00,PREÇO ABAIXO DE R$500
14,Geladeira,Eletrodomesticos,1500.00,PREÇO ACIMA DE R$1000
15,Aspirador de pó,Utilidades do Lar,150.00,PREÇO ABAIXO DE R$500